<template>
    <div class="table-responsive">
        <div class="text-right" v-for="(user, inx) in userss">
            <a id="navbarDropdown" v-if='user.id == uid' class="text-right" v-bind:href="'/admin/logout'" title="Salir">
                <i class="material-icons" style="font-size:20px;color:red">power_settings_new</i><span class="caret"></span>
            </a>
            <a href="" v-if='user.id == uid' data-toggle="modal" data-target="#EditUser" v-on:click="user_temp.user_id=user.id" title="Cambiar usuario ó contraseña">
                <i class="material-icons" style="font-size:22px;color:green">build</i>
            </a>
        </div>
        <table class="table table-hover m-b-0 c_list">
            <thead>
                <tr>
                    <th class="text-center">Numero de Casa</th>                                                
                    <th class="text-center">Calle</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Aprobado</th>
                    <th class="text-center">Estado de Renta</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(home, inx) in homess">
                    <td class="text-center">{{ home.number }}</td>
                    <td class="text-center">{{ home.street }}</td>
                    <td class="text-center">${{ home.price }}</td>
                    <td class="text-center">
                        <div v-if="home.state == 0"> 
                               <i class="material-icons" style="font-size:22px;color:red" title="En revición">content_paste</i>
                            </div>
                            <div v-else>
                                <i class="material-icons" style="font-size:22px;color:green" title="Aprovada">content_paste</i>
                            </div>
                    </td>
                    <td class="text-center">
                        <div v-if="home.state_rent == 0"> 
                            <button href="" v-on:click="disponibleHause(home.id, inx)">
                               <i class="material-icons" style="font-size:22px;color:red" title="En Renta" >store_mall_directory</i>
                            </button>
                            </div>
                            <div v-else>
                                <button href="" v-on:click="offlineHause(home.id, inx)">
                                    <i class="material-icons" style="font-size:22px;color:green" title="Disponible" >store_mall_directory</i>
                                </button>
                            </div>
                    </td>                    
                    <td class="text-center">
                        <a href="" class="btn" data-toggle="modal" data-target="#ShowModal" title="Ver comentarios" v-on:click="home_temp.home_id=home.id">
                            <i class="material-icons" style="font-size:22px;color:blue">visibility</i>
                        </a>                                
                        <a href="" data-toggle="modal" data-target="#EditModal" title="Editar" v-on:click="home_temp.home_id=home.id">
                            <i class="material-icons" style="font-size:22px;color:blue">mode_edit</i>
                        </a>&nbsp;
                        <button v-on:click.prevent="removeHause(home.id, inx)"  title="Remove" >
                            <i class="material-icons" style="font-size:22px;color:red" title="Eliminar">delete_forever</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal" id="ShowModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title">Casa</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div v-for="(home, inx) in homess">
                                <td v-if="home_temp.home_id == home.id" class="text-center"> {{ home.number }} <hr></td>
                                <div v-for="(coment, inx) in comentss">
                                    <td v-if="home_temp.home_id == home.id & home_temp.home_id == coment.home_id" class="text-center">
                                        <p>Comentario</p>
                                        <p>{{ coment.comment }}</p>
                                        <p>Calificacion: {{ coment.score }}</p> <hr> 
                                    </td>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="home_temp.home_id=''">
                            cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="EditModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title">Editar Casa</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div v-for="(home, inx) in homess">
                                <div v-if="home_temp.home_id == home.id"> 
                                    <label class="text-center">${{ home.price }}</label>
                                    <input name="price" v-model="home_temp.price" type="number" class="form-control"/>
                                    <label><hr></label>
                                </div>
                                <div v-if="home_temp.home_id == home.id">
                                    <label class="text-center">{{ home.description }} <hr></label>
                                    <textarea name="description" v-model="home_temp.description" type="number" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="home_temp.home_id=''">
                            cancelar
                        </button>
                        <button class="btn btn-success float-right" v-on:click="EditHome()">
                            Editar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="EditUser" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title">Editar Usuario</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div v-for="(user, inx) in userss">
                                <div v-if="user_temp.user_id == user.id"> 
                                    <label class="text-center">${{ user.email }}</label>
                                    <input name="email" v-model="user_temp.email" type="email" class="form-control"></input>
                                    <label><hr></label>
                                </div>
                                <div v-if="user_temp.user_id == user.id">
                                    <label class="text-center">Password<hr></label>
                                    <input name="password" v-model="user_temp.password" type="password" class="form-control"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="user_temp.user_id=''; user_temp.password=''">
                            cancelar
                        </button>
                        <button class="btn btn-success float-right" v-on:click="EditUser()">
                            Editar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</template>

<script>
import axios from 'axios';
export default {
    name: "ShowHomesComponent",
    props:{
        uid:{
            type: Number,
            required: true
        }
    },
    data() {
        return {
            homess: {},
            home_temp:{
                home_id:'',
                price:'',
                description:''
            },
            comentss:{},
            userss:{},
            user_temp: {
                user_id:'',
                email: '',
                password: ''
            }
        };        
    },

    mounted() {     
        this.getData();
    },

    methods: {
        getData() {
            axios.get('/api/homes/'+this.uid, {
            }).then(res => {
                this.homess = res.data.homes;
                this.userss = res.data.users;
                this.comentss = res.data.coments;
                this.home_temp.home_id='';
                this.home_temp.price='';
                this.home_temp.description='';
                this.user_temp.user_id='';
                this.user_temp.email='';
                this.user_temp.password='';
            }).catch(err => {
            });
        },

        removeHause(id, inx) {
            swal(('¿Seguro quieres eliminar esta casa de renta?'), {
            icon:'warning',
              buttons: {
                cancel: ('Cancelar'),
                accept: ('Si')
              },
            }).then((value) => {
                if(value == 'accept') {           
                    axios.delete('/api/homes/'+ id).then(res => {
                        if(res.data.status){
                            swal({
                                icon: "success",
                                title: res.data.message
                            });
                            this.homess.splice(inx, 1);  
                        } else {
                            swal({
                                icon: "error",
                                title: res.data.message
                            });
                        }
                    }).catch(err => {;
                        swal({
                            icon: "error",
                            title: err.toString()
                        });
                    });
                }

            });
        },
        disponibleHause(id, inx) {
            swal(('¿Seguro quieres actualizar el estado de renta?'), {
              buttons: {
                cancel: ('Cancelar'),
                accept: ('SI')
              },
            }).then((value) => {
                if(value == 'accept') {          
                    axios.post('/api/home/online/'+ id).then(res => {
                        if(res.data.status){
                            swal({
                                icon: "success",
                                title: res.data.message
                            });
                        this.getData();
                        } else {
                            swal({
                                icon: "error",
                                title: res.data.message
                            });
                        }
                    }).catch(err => {
                        swal({
                            icon: "error",
                            title: err.toString()
                        });
                    });
                }

            });
        },
        offlineHause(id, inx) {
            swal(('¿Seguro quieres actualizar el estado de renta?'), {
              buttons: {
                cancel: ('Cancelar'),
                accept: ('Si')
              },
            }).then((value) => {
                if(value == 'accept') {         
                    axios.post('/api/home/offline/'+ id).then(res => {
                        if(res.data.status){
                            swal({
                                icon: "success",
                                title: res.data.message
                            });
                        this.getData();
                        } else {
                            swal({
                                icon: "error",
                                title: res.data.message
                            });
                        }
                    }).catch(err => {
                        swal({
                            icon: "error",
                            title: err.toString()
                        });
                    });
                }

            });
        },
       EditHome() {
            $('#EditModal').modal('hide');
                let formData = new FormData();
                formData.append('price', this.home_temp.price);
                formData.append('description', this.home_temp.description);
                
                axios.post('/api/edit/home/'+this.home_temp.home_id,formData).then(res => {
                    if (res.data.status) {
                        swal({
                            icon: "success",
                            title: res.data.message
                        });
                        this.getData();
                        $('#EditModal').modal('hide');
                        if ($('.modal-backdrop').is(':visible')) {
                          $('body').removeClass('modal-open'); 
                          $('.modal-backdrop').remove(); 
                        };
                    } else {
                        swal({
                            icon: "error",
                            title: res.data.message
                        });
                    }
                }).catch(err => {
                    swal({
                        icon: "error",
                        title: err.toString()
                    });
                });
            
        },
       EditUser() {
            $('#EditUser').modal('hide');
                let formData = new FormData();
                formData.append('email', this.user_temp.email);
                formData.append('password', this.user_temp.password);
                
                axios.post('/api/admin/edit/user/'+this.user_temp.user_id,formData).then(res => {
                    if (res.data.status) {
                        swal({
                            icon: "success",
                            title: res.data.message
                        });
                        this.getData();
                        $('#EditUser').modal('hide');
                        if ($('.modal-backdrop').is(':visible')) {
                          $('body').removeClass('modal-open'); 
                          $('.modal-backdrop').remove(); 
                        };
                    } else {
                        swal({
                            icon: "error",
                            title: res.data.message
                        });
                    }
                }).catch(err => {
                    swal({
                        icon: "error",
                        title: err.toString()
                    });
                });
            
        }

    }
}


</script>

