<template>
    <div class="table-responsive">
        <a id="navbarDropdown" class="text-right" v-bind:href="'/admin/logout'" title="Salir">
            <i class="material-icons" style="font-size:20px;color:red">power_settings_new</i><span class="caret"></span>
        </a>
         <a id="navbarDropdown" class="text-right"  v-bind:href="'/home-admin'" title="Casas">
            <i class="material-icons" style="font-size:20px;color:blue">accessibility</i>
        </a>
        <table class="table table-hover m-b-0 c_list">
            <thead>
                <tr>
                    <th class="text-center">Id Usuario</th>                                                
                    <th class="text-center">Rol</th>                                                
                    <th class="text-center">Nombre de usuario</th>                                                
                    <th class="text-center">Telefono</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Eliminado</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(user, inx) in userss">
                    <td class="text-center">{{ user.id }}</td>
                    <td class="text-center">{{ user.role_id }}</td>
                    <td class="text-center">{{ user.firstname }}</td>
                    <td class="text-center">{{ user.phone }}</td>
                    <td class="text-center">{{ user.email }}</td>
                    <div class="text-center" v-if="user.deleted_at == null"> 
                        <button  v-on:click="deleteuser(user.id, inx)"><i class="material-icons" style="font-size:22px;color:red" title="Usuario Activo">done_all</i></button>
                    </div>
                    <div class="text-center" v-else>
                        <button  v-on:click="restoreuser(user.id, inx)"><i class="material-icons" style="font-size:22px;color:green" title="Usuario Eliminado">done_all</i></button>
                    </div>                  
                    <td class="text-center">                               
                        <a href="" data-toggle="modal" data-target="#EditModal" title="Editar" v-on:click="user_temp.user_id=user.id">
                            <i class="material-icons" style="font-size:22px;color:green">build</i>
                        </a>&nbsp;
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal" id="EditModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title">Editar Usuario</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div v-for="(user, inx) in userss">
                                <div v-if="user_temp.user_id == user.id"> 
                                    <label class="text-center">${{ user.email }}</label>
                                    <input name="email" v-model="user_temp.email" type="email" class="form-control"></input>
                                    <label><hr></label>
                                </div>
                                <div v-if="user_temp.user_id == user.id">
                                    <label class="text-center">Password<hr></label>
                                    <input name="password" v-model="user_temp.password" type="password" class="form-control"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="user_temp.user_id=''; user_temp.password=''">
                            cancelar
                        </button>
                        <button class="btn btn-success float-right" v-on:click="EditUser()">
                            Editar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</template>

<script>
import axios from 'axios';
export default {
    name: "UsersAdminComponent",
    props:{
        uid:{
            type: Number,
            required: true
        }
    },
    data() {
        return {
            userss: {},
            user_temp: {
                user_id:'',
                email: '',
                password: ''
            }
        };        
    },

    mounted() {     
        this.getData();
    },

    methods: {
        getData() {
            axios.get('/api/users/', {
            }).then(res => {
                this.userss = res.data.users;
                this.user_temp.user_id='';
                this.user_temp.email='';
                this.user_temp.password='';
            }).catch(err => {
            });
        },

        deleteuser(id, inx) {
            swal(('¿Seguro quieres eliminar este usuario?'), {
            icon:'warning',
              buttons: {
                cancel: ('Cancelar'),
                accept: ('Si')
              },
            }).then((value) => {
                if(value == 'accept') {           
                    axios.delete('/api/delete/user/'+ id).then(res => {
                        if(res.data.status){
                            swal({
                                icon: "success",
                                title: res.data.message
                            });
                            this.getData(); 
                        } else {
                            swal({
                                icon: "error",
                                title: res.data.message
                            });
                        }
                    }).catch(err => {;
                        swal({
                            icon: "error",
                            title: err.toString()
                        });
                    });
                }

            });
        },
        restoreuser(id, inx) {
            swal(('¿Seguro quieres restaurar este usuario?'), {
            icon:'warning',
              buttons: {
                cancel: ('Cancelar'),
                accept: ('Si')
              },
            }).then((value) => {
                if(value == 'accept') {           
                    axios.get('/api/restore/user/'+ id).then(res => {
                        if(res.data.status){
                            swal({
                                icon: "success",
                                title: res.data.message
                            });
                            this.getData(); 
                        } else {
                            swal({
                                icon: "error",
                                title: res.data.message
                            });
                        }
                    }).catch(err => {;
                        swal({
                            icon: "error",
                            title: err.toString()
                        });
                    });
                }

            });
        },
        disponibleHause(id, inx) {
            swal(('¿Seguro quieres actualizar el estado de renta?'), {
              buttons: {
                cancel: ('Cancelar'),
                accept: ('SI')
              },
            }).then((value) => {
                if(value == 'accept') {          
                    axios.post('/api/home/online/'+ id).then(res => {
                        if(res.data.status){
                            swal({
                                icon: "success",
                                title: res.data.message
                            });
                        this.getData();
                        } else {
                            swal({
                                icon: "error",
                                title: res.data.message
                            });
                        }
                    }).catch(err => {
                        swal({
                            icon: "error",
                            title: err.toString()
                        });
                    });
                }

            });
        },
        aprobbedhome(id, inx) {
            swal(('¿Seguro quieres aprobar la casa?'), {
            icon:"warning",
              buttons: {
                cancel: ('Cancelar'),
                accept: ('SI')
              },
            }).then((value) => {
                if(value == 'accept') {          
                    axios.post('/api/home/aprobbed/'+ id).then(res => {
                        if(res.data.status){
                            swal({
                                icon: "success",
                                title: res.data.message
                            });
                        this.getData();
                        } else {
                            swal({
                                icon: "error",
                                title: res.data.message
                            });
                        }
                    }).catch(err => {
                        swal({
                            icon: "error",
                            title: err.toString()
                        });
                    });
                }

            });
        },
        disaprobbedhome(id, inx) {
            swal(('¿Seguro quieres desaprobar la casa?'), {
            icon:"warning",
              buttons: {
                cancel: ('Cancelar'),
                accept: ('SI')
              },
            }).then((value) => {
                if(value == 'accept') {          
                    axios.post('/api/home/desaprobbed/'+ id).then(res => {
                        if(res.data.status){
                            swal({
                                icon: "success",
                                title: res.data.message
                            });
                        this.getData();
                        } else {
                            swal({
                                icon: "error",
                                title: res.data.message
                            });
                        }
                    }).catch(err => {
                        swal({
                            icon: "error",
                            title: err.toString()
                        });
                    });
                }

            });
        },
        offlineHause(id, inx) {
            swal(('¿Seguro quieres actualizar el estado de renta?'), {
              buttons: {
                cancel: ('Cancelar'),
                accept: ('Si')
              },
            }).then((value) => {
                if(value == 'accept') {         
                    axios.post('/api/home/offline/'+ id).then(res => {
                        if(res.data.status){
                            swal({
                                icon: "success",
                                title: res.data.message
                            });
                        this.getData();
                        } else {
                            swal({
                                icon: "error",
                                title: res.data.message
                            });
                        }
                    }).catch(err => {
                        swal({
                            icon: "error",
                            title: err.toString()
                        });
                    });
                }

            });
        },
       EditUser() {
            $('#EditModal').modal('hide');
                let formData = new FormData();
                formData.append('email', this.user_temp.email);
                formData.append('password', this.user_temp.password);
                
                axios.post('/api/admin/edit/user/'+this.user_temp.user_id,formData).then(res => {
                    if (res.data.status) {
                        swal({
                            icon: "success",
                            title: res.data.message
                        });
                        this.getData();
                        $('#EditModal').modal('hide');
                        if ($('.modal-backdrop').is(':visible')) {
                          $('body').removeClass('modal-open'); 
                          $('.modal-backdrop').remove(); 
                        };
                    } else {
                        swal({
                            icon: "error",
                            title: res.data.message
                        });
                    }
                }).catch(err => {
                    swal({
                        icon: "error",
                        title: err.toString()
                    });
                });
            
        }

    }
}


</script>

