// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.modal-open .modal {
    top: 40px !important;
}

.swal-button--cancel {
    background: #aaa;
}