/*!
 * Start Bootstrap - Business Frontpage (https://startbootstrap.com/templates/business-frontpage)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-business-frontpage/blob/master/LICENSE)
 */

.header{
  background-color: #4e73df;
}
body {
  padding-top: 56px;
}
