<template>
    <div class="table-responsive">
        <a href="" data-toggle="modal" data-target="#ShowModal" title="Agrega un comentario" v-on:click="comment_temp.user_id=4">
            <i class="material-icons" style="font-size:20px;color:blue">question_answer</i>
        </a>
        <table class="table table-hover m-b-0 c_list">
            <thead>
                <tr>
                    <th class="text-center">Comentarios</th>                                                
                    <th class="text-center">Calificación</th>                                                
                    <hr>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(comment, inx) in comentss">
                    <td class="text-center">{{ comment.comment }}</td>                  
                    <td class="text-center">{{ comment.score }}</td>                  
                </tr>
            </tbody>
        </table>
        <div class="modal" id="ShowModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <label class="text-center">Regalame un comentario<hr></label>
                            <textarea name="comment" v-model="comment_temp.comment" type="text" class="form-control" required=""></textarea>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label class="text-center">La calificación qué nos des nos ayuda a mejorar<hr></label>
                            <input name="comment" placeholder="1.0-10.0" v-model="comment_temp.score" type="number" class="form-control" required=""></input>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" v-on:click="comment_temp.user_id='4'">
                            cancel
                        </button>
                        <button class="btn btn-success float-right" v-on:click="SendComment()">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</template>

<script>
import axios from 'axios';
export default {
    name: "AllCommentsComponent",
    props:{
        uid:{
            type: Number,
            required: true
        }
    },
    data() {
        return {
            comentss:{},
            comment_temp: {
                user_id:'',
                comment: '',
                score: ''
            }
        };        
    },

    mounted() {

        this.getData();
    },

    methods: {
        getData() {
            axios.get('/api/homes/'+this.uid, {
            }).then(res => {
                this.homess = res.data.homes;
                this.userss = res.data.users;
                this.comentss = res.data.coments;

                this.comment_temp.user_id='';
                this.comment_temp.comment='';
                this.comment_temp.score='';

            }).catch(err => {
            });
        },
        SendComment() {
            $('#ShowModal').modal('hide');
                let formData = new FormData();
                formData.append('score', this.comment_temp.score);
                formData.append('comment', this.comment_temp.comment);
                
                axios.post('/api/coment/'+this.comment_temp.user_id,formData).then(res => {
                    if (res.data.status) {
                        swal({
                            icon: "success",
                            title: res.data.message
                        });
                        this.getData();
                        $('#ShowModal').modal('hide');
                        if ($('.modal-backdrop').is(':visible')) {
                          $('body').removeClass('modal-open'); 
                          $('.modal-backdrop').remove(); 
                        };
                    } else {
                        swal({
                            icon: "error",
                            title: "Datos incorrectoss"
                        });
                    }
                }).catch(err => {
                    swal({
                        icon: "error",
                        title: "Datos incorrectoss"
                    });
                });
            
        }
    }
}


</script>

